@import 'partials/nav.css';
@import 'partials/card.css';
@import 'partials/gallery.css';
@import 'partials/contact.css';

:root {
	--color-accent: #006666;
	--color-accent-light: #4abebe;
	--color-white: #f1f2f3;
	--color-light: #eaebec;
	--color-dark-gray: #272529;
	--color-dark: #230d30;
	--color-darker: #161016;
	--color-99designs: #ff7e60;
	--color-deviantart: #06cc46;
	--color-teespring: #ed2561;
	--color-proton: #505061;
	--color-github: #24292e;
	--color-darkorchid: #7E29A8;

	--gradient-violet:
		linear-gradient(to top left,
			rgba(255, 0, 255, .3),
			transparent);
	--gradient-focus:
		linear-gradient(to top,
			rgba(0, 0, 0, .45),
			transparent,
			transparent,
			rgba(0, 0, 0, .45));

	--font-family-primary: muli, sans-serif;

	--single-col-width: 666px;
	--nav-height: 48px;
	--nav-panel-width: 268px;
	--border-radius: 8px;
	--gallery-cols: 1;

	--trans-very-short: 75ms;
	--trans-short: 150ms;
	--trans-normal: 250ms;
	--trans-long: 500ms;
	--trans-longer: 750ms;

	--box-shadow-light: 0 .15em .5em rgba(0, 0, 0, .16);
	--box-shadow-medium: 0 .35em 1em rgba(0, 0, 0, .22);
	--box-shadow-intense: 0 .35em .85em rgba(0, 0, 0, .5);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--color-darkorchid);
	color: white;
}

html {
	height: 100%;
}

html, body {
	scroll-behavior: smooth;
}

body, body[data-theme="light"] {
	--background-color: var(--color-white);
	--foreground-color: var(--color-dark-gray);
	--footer-background-color: var(--color-dark-gray);
	--italic-text-color: var(--color-accent);
	--bold-text-opacity: .7;
	--paragraph-opacity: .8;
	--card-background-color: var(--color-white);
	--abbr-background-color: black;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 0;
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: var(--font-family-primary);
	line-height: 1.4;
	font-size: 1.165em;
	min-height: 100vh;
	height: 100%;
}

body[data-theme="dark"] {
	--background-color: var(--color-darker);
	--foreground-color: var(--color-light);
	--footer-background-color: var(--color-darker);
	--italic-text-color: var(--color-accent-light);
	--bold-text-opacity: .88;
	--paragraph-opacity: .92;
	--card-background-color: var(--color-dark);
	--abbr-background-color: darkblue;
}

body[data-loading] main {
	filter: blur(7px);
}

body[data-loading]::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	z-index: 999;
}

a {
	color: inherit;
}

b {
	opacity: var(--bold-text-opacity);
}

p {
	opacity: var(--paragraph-opacity);
}

i {
	color: var(--italic-text-color);
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 2.2em;
}

blockquote {
	opacity: .7;
	font-style: italic;
}

blockquote::before {
	content: '" ';
	line-height: 1;
}

blockquote::after {
	content: '"';
}

mark {
	display: inline-block;
	margin: .15em;
	padding: .3em .5em;
	border-radius: var(--border-radius);
	color: white;
	background-color: blue;
	background-image: var(--gradient-violet);
}

mark.background-color--black {
	background-color: black;
}

mark.background-color--palevioletred {
	background-color: palevioletred;
}

mark.background-color--blue {
	background-color: blue;
}

mark.background-color--pink {
	background-color: deeppink;
}

mark.background-color--darkblue {
	background-color: darkslateblue;
}

mark.background-color--orange {
	background-color: darkorange;
}

mark.background-color--indian {
	background-color: indianred;
}

mark.background-color--navy {
	background-color: navy;
}

mark.background-color--darkorchid {
	background-color: var(--color-darkorchid);
}

mark.background-color--green {
	background-color: green;
}

abbr {
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 0;
	border-radius: var(--border-radius);
	background-color: var(--abbr-background-color);
	color: white;
	padding: .25rem .35rem;
	margin: 0 .25rem;
	cursor: help;
}

select {
	border-width: 0;
	border-color: var(--color-darkorchid);
	border-radius: var(--border-radius);
	background-color: transparent;
	color: inherit;
	font-family: var(--font-family-primary);
	font-size: inherit;
	padding: .25rem .5rem;
	--webkit-appereance: none;
}

option {
	font-family: var(--font-family-primary);
	background-color: var(--color-darker);
	color: white;
	border-radius: var(--border-radius);
	line-height: 2;
}

figure {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0;
}

figcaption {
	margin-top: 2em;
	font-size: .85em;
	font-style: italic;
	text-align: center;
	opacity: .8;
}

footer {
	color: rgba(255, 255, 255, 0.6);
	font-size: .8em;
	text-align: center;
	background-color: var(--footer-background-color);
	padding: 1.5em;
	margin-top: 6em;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 3em;
	padding: 5em 1.5em 0 1.5em;
	transition: filter var(--trans-longer) ease-in-out;
}