/* :: */
/* :: Custom properties :: */
/* :: */

:root {
	--color-white: #f1f2f3;
	--color-light: #e3e4e5;
	--color-dark-gray: #272529;
	--color-dark: #1f0d2c;
	--color-darker: #161016;
	--color-carrot-orange: #e66f1f;
	--color-99designs: #ff7e60;
	--color-deviantart: #06cc46;
	--color-proton: #505061;
	--color-github: #24292e;

	--gradient-violet:
		linear-gradient(to top left,
			rgba(255, 0, 255, .3),
			transparent);
	--gradient-focus:
		linear-gradient(to top,
			rgba(0, 0, 0, .45),
			transparent,
			transparent,
			rgba(0, 0, 0, .45));

	--font-family: muli, sans-serif;

	--single-col-width: 666px;
	--border-radius: 8px;
	--gallery-cols: 1;

	--trans-very-short: 75ms;
	--trans-short: 150ms;
	--trans-normal: 250ms;
	--trans-long: 500ms;
	--trans-longer: 750ms;

	--box-shadow-light: 0 .15em .5em rgba(0, 0, 0, .1);
	--box-shadow-medium: 0 .35em 1em rgba(0, 0, 0, .2);
	--box-shadow-intense: 0 .35em .85em rgba(0, 0, 0, .5);
	--box-shadow-colorful: -.15em -.15em .5em cyan,
		.15em .15em .5em violet;
}

/* :: */
/* :: General styling :: */
/* :: */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 0;
	background: var(--color-white);
	color: var(--color-dark-gray);
	font-family: var(--font-family);
	line-height: 1.4;
	font-size: 1.165em;
	min-height: 100vh;
	height: 100%;
}

body[data-loading] #main {
	filter: blur(7px);
}

body[data-loading]::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	z-index: 999;
}

#main {
	transition: filter var(--trans-longer) ease-in-out;
}

a {
	color: inherit;
	text-decoration: none;
}

b {
	opacity: .7;
}

ul {
	list-style: none;
}

p {
	opacity: .8;
}

i {
	color: darkcyan;
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
}

h2 {
	margin-bottom: 0;
	text-align: center;
	font-size: 2.2em;
}

blockquote {
	opacity: .7;
	font-style: italic;
}

blockquote::before {
	content: '" ';
	line-height: 1;
}

blockquote::after {
	content: '"';
}

mark {
	display: inline-block;
	margin: .15em;
	padding: .3em .5em;
	border-radius: var(--border-radius);
	color: white;
	background-image: var(--gradient-violet);
	background-color: blue;
}

mark.black {
	background-color: black;
}

mark.palevioletred {
	background-color: palevioletred;
}

mark.blue {
	background-color: blue;
}

mark.pink {
	background-color: deeppink;
}

mark.darkblue {
	background-color: darkslateblue;
}

mark.orange {
	background-color: darkorange;
}

mark.indian {
	background-color: indianred;
}

mark.navy {
	background-color: navy;
}

mark.violet {
	background-color: darkorchid;
}

mark.green {
	background-color: green;
}

figure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0;
}

figcaption {
	margin-top: 2em;
	font-size: .85em;
	font-style: italic;
	text-align: center;
	color: gray;
	opacity: .9;
}

/* :: footer :: */

footer {
	color: rgba(255, 255, 255, 0.5);
	font-size: .8em;
	text-align: center;
	background-color: var(--color-dark-gray);
	padding: 1.5em;
	margin-top: 6em;
}

section {
	padding: 5em 1.5em 0 1.5em;
}

.single-column {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 3em;
}

/* :: */
/* :: Navigation bar :: */
/* :: */

#nav {
	z-index: 99;
	position: fixed;
	width: 100vw;
	height: 3em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 1.5em;
	background-color: var(--color-darker);
	color: var(--color-light);
	-webkit-box-shadow: var(--box-shadow-light);
	box-shadow: var(--box-shadow-light);
}

#nav__logo {
	position: relative;
	width: 18px;
	height: 10px;
	background-color: currentColor;
	cursor: pointer;
	-webkit-transition: -webkit-filter var(--trans-normal) ease-in-out;
	transition: -webkit-filter var(--trans-normal) ease-in-out;
	transition: filter var(--trans-normal) ease-in-out;
	transition: filter var(--trans-normal) ease-in-out, -webkit-filter var(--trans-normal) ease-in-out;
}

#nav__logo::before,
#nav__logo::after {
	content: '';
	position: absolute;
	width: 5px;
	height: 22px;
	background-color: inherit;
}

#nav__logo::before {
	left: 0;
	bottom: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

#nav__logo::after {
	right: 0;
	top: 50%;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

#nav__toggle {
	background: none;
	border: none;
	cursor: pointer;
}

#nav__toggle rect {
	fill: var(--color-light);
	-webkit-transform: translate(0);
	transform: translate(0);
	-webkit-transition: -webkit-transform var(--trans-normal) ease-in-out;
	transition: -webkit-transform var(--trans-normal) ease-in-out;
	transition: transform var(--trans-normal) ease-in-out;
	transition: transform var(--trans-normal) ease-in-out, -webkit-transform var(--trans-normal) ease-in-out;
}

#nav__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	width: 100%;
	position: absolute;
	top: 3em;
	left: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	color: transparent;
	padding: 1.5em;
	background-color: var(--color-darker);
	-webkit-transition: color var(--trans-long) ease-in-out var(--trans-normal), -webkit-transform var(--trans-normal) ease-in-out;
	transition: color var(--trans-long) ease-in-out var(--trans-normal), -webkit-transform var(--trans-normal) ease-in-out;
	transition: transform var(--trans-normal) ease-in-out, color var(--trans-long) ease-in-out var(--trans-normal);
	transition: transform var(--trans-normal) ease-in-out, color var(--trans-long) ease-in-out var(--trans-normal), -webkit-transform var(--trans-normal) ease-in-out;
}

#nav__content a + a {
	margin: 1em 0 0 0;
}

/* :: */
/* :: Cards */
/* :: */

.card {
	max-width: var(--single-col-width);
	padding: 1em;
	position: relative;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	-webkit-box-shadow: var(--box-shadow-light);
	box-shadow: var(--box-shadow-light);
	overflow: hidden;
}

.card__title {
	text-align: center;
	font-weight: 400;
	font-size: 1.6em;
	margin-bottom: .5em;
	margin-top: 0;
	opacity: .8;
}

.card_cover {
	padding: 0;
}

.card_cover img {
	min-height: 300px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left;
	object-position: left;
}

.card a {
	font-weight: 700;
}

.illustration {
	max-width: var(--single-col-width);
}

.avatar img {
	width: 200px;
	border-radius: 50%;
	-webkit-box-shadow: var(--box-shadow-medium);
	box-shadow: var(--box-shadow-medium);
	-webkit-filter: none;
	filter: none;
	-webkit-transition: -webkit-filter var(--trans-normal) ease-in-out, -webkit-box-shadow var(--trans-normal) ease-in-out;
	transition: -webkit-filter var(--trans-normal) ease-in-out, -webkit-box-shadow var(--trans-normal) ease-in-out;
	transition: filter var(--trans-normal) ease-in-out, box-shadow var(--trans-normal) ease-in-out;
	transition: filter var(--trans-normal) ease-in-out, box-shadow var(--trans-normal) ease-in-out, -webkit-filter var(--trans-normal) ease-in-out, -webkit-box-shadow var(--trans-normal) ease-in-out;
}

.avatar img:hover,
.avatar img:focus {
	-webkit-filter: contrast(115%);
	filter: contrast(115%);
}

/* :: */
/* :: Gallery :: */
/* :: */

.gallery {
	display: grid;
	grid-template-columns: repeat(var(--gallery-cols), 1fr);
	gap: 2em;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding: 2em 0;
}

.gallery:first-of-type {
	padding: 0;
}

.gallery__title {
	grid-column: span var(--gallery-cols);
}

.gallery__item {
	z-index: 0;
	position: relative;
	border-radius: var(--border-radius);
	-webkit-box-shadow: var(--box-shadow-light);
	box-shadow: var(--box-shadow-light);
	background-color: transparent;
	color: var(--color-white);
	overflow: hidden;
	-webkit-filter: contrast(110%);
	filter: contrast(110%);
	cursor: pointer;
	-webkit-transition: background-color var(--trans-long) ease-in-out;
	transition: background-color var(--trans-long) ease-in-out;
}

.gallery__item::after {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-image: var(--gradient-focus);
}

.gallery__item::after,
.gallery__item__thumbnail {
	-webkit-transition: opacity var(--trans-long) ease-in-out;
	transition: opacity var(--trans-long) ease-in-out;
}

.gallery__item__title,
.gallery__item__description {
	-webkit-transition: -webkit-transform var(--trans-normal) ease-in-out;
	transition: -webkit-transform var(--trans-normal) ease-in-out;
	transition: transform var(--trans-normal) ease-in-out;
	transition: transform var(--trans-normal) ease-in-out, -webkit-transform var(--trans-normal) ease-in-out;
}

.gallery__item__thumbnail {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.gallery__item__title,
.gallery__item__description {
	z-index: 2;
	position: absolute;
	left: 1em;
	right: 1em;
}

.gallery__item__title {
	top: 0;
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.gallery__item__description {
	bottom: 0;
	opacity: 1;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
}

.gallery__item__description a {
	font-weight: 700;
	text-decoration: underline;
}

.codepens .gallery__item {
	background-color: var(--color-darker);
}

.codepens .gallery__item__title {
	font-size: 1.6em;
	-webkit-transform: none;
	transform: none;
}

.codepens .gallery__item__thumbnail {
	opacity: .7;
}

/* :: lightbox :: */

.lightbox {
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: .5em;
	color: var(--color-white);
	background-color: rgba(0, 0, 0, 0.85);
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	opacity: 0;
	-webkit-transition: opacity var(--trans-normal) ease-in-out, -webkit-transform 0ms linear var(--trans-normal);
	transition: opacity var(--trans-normal) ease-in-out, -webkit-transform 0ms linear var(--trans-normal);
	transition: opacity var(--trans-normal) ease-in-out, transform 0ms linear var(--trans-normal);
	transition: opacity var(--trans-normal) ease-in-out, transform 0ms linear var(--trans-normal), -webkit-transform 0ms linear var(--trans-normal);
}

.lightbox__content {
	position: relative;
	max-width: var(--single-col-width);
}

.lightbox__image {
	max-height: 93vh;
	-webkit-box-shadow: var(--box-shadow-intense);
	box-shadow: var(--box-shadow-intense);
}

.lightbox__text {
	display: none;
	width: 22vw;
	position: absolute;
	left: 2em;
	top: 5em;
}

.lightbox__close {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	padding: 0;
	top: 0;
	left: 50%;
	width: 27px;
	height: 27px;
	background-color: var(--color-light);
	-webkit-box-shadow: var(--box-shadow-intense);
	box-shadow: var(--box-shadow-intense);
	border-radius: 50%;
	border: none;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-weight: 700;
	cursor: pointer;
}

.lightbox__close rect {
	fill: var(--color-darker);
	-webkit-transition: fill var(--trans-short) ease-in-out;
	transition: fill var(--trans-short) ease-in-out;
}

.lightbox__close rect:first-of-type {
	-webkit-transform: translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
	transform: translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
}

.lightbox__close rect:last-of-type {
	-webkit-transform: translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
	transform: translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
}

/* :: */
/* :: Art links */
/* :: */

.art-links {
	max-width: var(--single-col-width);
}

.art-links__group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 3em 0;
}

.art-links__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	height: 3em;
	width: 3em;
	padding: .5em;
	background-color: var(--color-dark-gray);
	-webkit-box-shadow: var(--box-shadow-medium);
	box-shadow: var(--box-shadow-medium);
	border-radius: 50%;
}

.art-links__link.designs {
	background-color: var(--color-99designs);
}

.art-links__link.deviantart {
	background-color: var(--color-deviantart);
}

.art-links__link img {
	max-height: 2em;
}

.art-links__link+.art-links__link {
	margin-left: 1.5em;
}

/* :: */
/* :: Music :: */
/* :: */

.music {
	max-width: var(--single-col-width);
	min-width: 0;
	text-align: center;
}

.music__group {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding: 2em 0;
}

.music__track__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
}

.music__track__title::before,
.music__track__title::after {
	content: ' ::: ';
}

.music__track__audio {
	border-radius: var(--border-radius);
	-webkit-box-shadow: var(--box-shadow-medium);
	box-shadow: var(--box-shadow-medium);
}

/* :: */
/* :: Contact :: */
/* :: */

.contact-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.contact-links__link {
	--padding: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 3em;
	-webkit-box-shadow: var(--box-shadow-light);
	box-shadow: var(--box-shadow-light);
	position: relative;
	padding: var(--padding);
}

.contact-links__link.proton-mail {
	background-color: var(--color-proton);
}

.contact-links__link.github {
	background-color: var(--color-github);
}

.contact-links__link.phone {
	background-color: var(--color-dark);
}

.contact-links__link__image {
	display: inline-block;
	height: 1.5em;
	margin-right: var(--padding);
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

.contact-links__link__text {
	color: var(--color-light);
	font-size: 1rem;
}

.contact-links__link+.contact-links__link {
	margin-top: 1.5em;
}

/* :: */
/* :: Media queries */
/* :: */

@media only screen and (min-width: 600px) {
	:root {
		--gallery-cols: 2;
	}

	#nav {
		padding: 0 3em;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	#nav__toggle {
		display: none;
	}

	#nav__content {
		display: block;
		width: initial;
		position: static;
		-webkit-transform: scale(1);
		transform: scale(1);
		color: inherit;
		padding: 0;
		overflow: visible;
	}

	#nav__content a {
		position: relative;
		position: relative;
		display: inline-block;
	}

	#nav__content a:hover::after,
	#nav__content a:focus::after {
		transform: scale(1, 1);
	}

	#nav__content a::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 3px;
		transform-origin: left;
		transform: scale(0, 1);
		color: inherit;
		background-color: currentColor;
		transition: transform var(--trans-short) ease-in-out;
	}

	#nav__content a+a {
		margin: 0 0 0 3em;
	}

	.gallery__item:hover,
	.gallery__item:focus {
		background-color: var(--color-darker);
	}

	.gallery__item:hover .gallery__item__thumbnail,
	.gallery__item:focus .gallery__item__thumbnail {
		opacity: .7;
	}

	.gallery__item:hover::after,
	.gallery__item:focus::after {
		opacity: 1;
	}

	.gallery__item:hover .gallery__item__title,
	.gallery__item:hover .gallery__item__description,
	.gallery__item:focus .gallery__item__title,
	.gallery__item:focus .gallery__item__description {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	.gallery__item__thumbnail {
		min-height: 15em;
	}

	.codepens .gallery__item__title {
		font-size: 1.8em;
		-webkit-transform: translateY(-200%);
		transform: translateY(-200%);
	}

	.codepens .gallery__item__thumbnail {
		opacity: 1;
	}

	.lightbox__close rect {
		fill: transparent;
	}

	.lightbox__close:hover rect,
	.lightbox__close:focus rect {
		fill: var(--color-darker);
	}

	.contact-links {
		flex-direction: row;
	}

	.contact-links__link + .contact-links__link {
		margin-top: 0;
		margin-left: 1.5em;
	}

	.contact-links__link__text {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 720px) {
	.music__group {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1080px) {
	:root {
		--gallery-cols: 3;
	}

	.lightbox__text {
		display: block;
	}

	.gallery.codepen {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery.codepen .gallery__title {
		grid-column: span 3;
	}
}

@media only screen and (min-width: 1366px) {
	:root {
		--gallery-cols: 4;
	}
}