:root {

	--color-white: #f1f2f3;
	--color-light: #e3e4e5;
	--color-dark-gray: #272529;
	--color-dark: #1f0d2c;
	--color-darker: #161016;
	--color-carrot-orange: #e66f1f;
	--color-99designs: #ff7e60;
	--color-deviantart: #06cc46;
	--color-proton: #505061;
	--color-facebook: #4267b2;

	--gradient-violet:
		linear-gradient(
			to top left, 
			rgba(255, 0, 255, .3), 
			transparent
		);

	--gradient-focus:
		linear-gradient(
			to top,
			rgba(0, 0, 0, .45),
			transparent,
			transparent, 
			rgba(0, 0, 0, .45)
		);

	--ff-muli: muli, sans-serif;
	--ff-regulator: regulator-nova, sans-serif;
	--ff-quote: peregroy-jf, sans-serif;

	--single-col-width: 666px;
	--border-radius: 8px;
	--gallery-cols: 1;

	--trans-very-short: 75ms;
	--trans-short: 150ms;
	--trans-normal: 250ms;
	--trans-long: 500ms;
	--trans-longer: 750ms;

	--box-shadow-light: 0 .15em .5em rgba(0, 0, 0, .1);
	--box-shadow-medium: 0 .35em 1em rgba(0, 0, 0, .2);
	--box-shadow-intense: 0 .35em .85em rgba(0, 0, 0, .5);
	--box-shadow-colorful:  -.15em -.15em .5em cyan,
							.15em .15em .5em violet; 
}