@media only screen and (min-width: 600px) {

	:root { --gallery-cols: 2 }

	#nav {

		padding: 0 3em;
		justify-content: space-between;
	
		&__toggle {
			display: none;
		}
	
		&__content {

			display: block;
			width: initial;
			position: static;
			transform: scale(1);
			color: inherit;
			padding: 0;
			overflow: visible;
	
			a + a { margin: 0 0 0 3em }
		}
	}

	.lightbox .lightbox__close rect {
		fill: transparent;
	}

	.lightbox .lightbox__close:hover rect {
		fill: var(--color-darker)
	}

	.contact-links {
		&__link {
			&__text {
				font-size: 1.2rem;
			}
		}
	}
}

@media only screen and (min-width: 720px) {
	.music__group {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1080px) {

	:root { --gallery-cols: 3 }

	.lightbox {

		&__text {
			display: block;
		}
	}

	.gallery.codepen {

		.gallery__title {
			grid-column: span 3;
		}

		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 1366px) {
	:root { --gallery-cols: 4 }
}