@mixin gradient-overlay {

	&::after {	

		z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: inherit;
		background-blend-mode: multiply;
		background-image: var(--gradient-violet);
		opacity: 0;
		transition:
			opacity var(--trans-long) ease-in-out;
	}

	&:hover { background-color: transparent; }

	&:hover::after {
		opacity: 1;
	}
}

@mixin hover-underline($direction: left, $duration: short) {

	position: relative;
	display: inline-block;

	&:hover::after, &:focus::after {
		transform: scale(1, 1);
	}

	&::after {

		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 3px;
		transform-origin: $direction;
		transform: scale(0, 1);
		color: inherit;
		background-color: currentColor;
		transition: transform var(--trans-#{$duration}) ease-in-out;
	}
}

@mixin quotes {

	&::before {

		content: '" ';
		font-family: var(--ff-quote);
		font-size: 2em;
		line-height: 1;
	}

	&::after {

		font-family: var(--ff-quote);
		content: '"';
	}
}