/* :: */
/* :: Custom properties :: */
/* :: */

:root {
	--color-accent: #006666;
	--color-accent-light: #4abebe;
	--color-white: #f1f2f3;
	--color-light: #eaebec;
	--color-dark-gray: #272529;
	--color-dark: #230d30;
	--color-darker: #161016;
	--color-99designs: #ff7e60;
	--color-deviantart: #06cc46;
	--color-teespring: #ed2561;
	--color-proton: #505061;
	--color-github: #24292e;

	--gradient-violet:
		linear-gradient(to top left,
			rgba(255, 0, 255, .3),
			transparent);
	--gradient-focus:
		linear-gradient(to top,
			rgba(0, 0, 0, .45),
			transparent,
			transparent,
			rgba(0, 0, 0, .45));

	--font-family: muli, sans-serif;

	--single-col-width: 666px;
	--nav-height: 48px;
	--nav-panel-width: 268px;
	--border-radius: 8px;
	--gallery-cols: 1;

	--trans-very-short: 75ms;
	--trans-short: 150ms;
	--trans-normal: 250ms;
	--trans-long: 500ms;
	--trans-longer: 750ms;

	--box-shadow-light: 0 .15em .5em rgba(0, 0, 0, .16);
	--box-shadow-medium: 0 .35em 1em rgba(0, 0, 0, .22);
	--box-shadow-intense: 0 .35em .85em rgba(0, 0, 0, .5);
}

/* :: */
/* :: General styling :: */
/* :: */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

html, body {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin: 0;
	background-color: var(--color-white);
	color: var(--color-dark-gray);
	font-family: var(--font-family);
	line-height: 1.4;
	font-size: 1.165em;
	min-height: 100vh;
	height: 100%;
}

body[data-loading] main {
	filter: blur(7px);
}

body[data-loading]::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	z-index: 999;
}

main {
	transition: filter var(--trans-longer) ease-in-out;
}

a {
	color: inherit;
}

b {
	opacity: .7;
}

p {
	opacity: .8;
}

i {
	color: var(--color-accent);
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 2.2em;
}

blockquote {
	opacity: .7;
	font-style: italic;
}

blockquote::before {
	content: '" ';
	line-height: 1;
}

blockquote::after {
	content: '"';
}

mark {
	display: inline-block;
	margin: .15em;
	padding: .3em .5em;
	border-radius: var(--border-radius);
	color: white;
	background-color: blue;
	background-image: var(--gradient-violet);
}

mark.background-color--black {
	background-color: black;
}

mark.background-color--palevioletred {
	background-color: palevioletred;
}

mark.background-color--blue {
	background-color: blue;
}

mark.background-color--pink {
	background-color: deeppink;
}

mark.background-color--darkblue {
	background-color: darkslateblue;
}

mark.background-color--orange {
	background-color: darkorange;
}

mark.background-color--indian {
	background-color: indianred;
}

mark.background-color--navy {
	background-color: navy;
}

mark.background-color--violet {
	background-color: darkorchid;
}

mark.background-color--green {
	background-color: green;
}

figure {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0;
}

figcaption {
	margin-top: 2em;
	font-size: .85em;
	font-style: italic;
	text-align: center;
	opacity: .8;
}

/* :: footer :: */

footer {
	color: rgba(255, 255, 255, 0.5);
	font-size: .8em;
	text-align: center;
	background-color: var(--color-dark-gray);
	padding: 1.5em;
	margin-top: 6em;
}

section {
	padding: 5em 1.5em 0 1.5em;
}

.single-column {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 3em;
}

/* :: */
/* :: Navigation bar :: */
/* :: */

nav {
	--padding: 1rem;

	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	height: var(--nav-height);
	width: 100%;
	background-color: var(--color-darker);
	color: var(--color-light);
	padding: 0 var(--padding);
	box-shadow: var(--box-shadow-light);
	z-index: 99;
}

nav::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	pointer-events: none;
	z-index: -1;
	transition:
		background-color var(--trans-normal) ease-in-out;
}

#nav__toggle {
	background-color: transparent;
	border: none;
	fill: var(--color-light);
	padding: 0;
}

#nav__toggle svg rect {
	transition: 
		transform var(--trans-short) ease-in-out;
}

.nav__current {
	padding-left: 1.25rem;
}

.nav__content {
	display: grid;
	grid: auto / 1fr 1fr;
	gap: 1rem;
	align-items: start;
	position: fixed;
	height: 100vh;
	width: var(--nav-panel-width);
	top: var(--nav-height);
	left: 0;
	background-color: inherit;
	box-shadow: var(--box-shadow-light);
	padding: var(--padding);
	will-change: transform;
	transform: translateX(-105%);
	transition:
		transform var(--trans-normal) ease-in-out;
}

.nav__content__links,
.nav__content__sections {
	display: grid;
	grid: auto / 1fr;
	gap: 1rem;
	justify-items: start;
}

.nav__content__links a {
	text-decoration: none;
}

.nav__content__links a::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	transform: scale(0, 1);
	transform-origin: left;
	transition:
		transform var(--trans-short) ease-in-out;
}

.nav__content__links a:hover::after,
.nav__content__links a:focus::after {
	transform: scale(1, 1);
}

.nav__content__sections {
	font-size: 1.05rem;
}

.nav__content__sections__title {
	margin: 0;
	font-size: inherit;
	font-weight: 400;
	opacity: .5;
}

.nav__content__sections__link {
	opacity: .8;
	text-transform: lowercase;
}

.nav__content__sections__link:hover,
.nav__content__sections__link:focus {
	opacity: 1;
}

/* Nav: visible */

.nav__content--visible {
	transform: translateX(0px);
}

.nav--content-visible::after {
	background-color: rgba(0, 0, 0, .45);
	pointer-events: auto;
}

.nav--content-visible #nav__toggle svg rect:nth-of-type(1),
.nav--content-visible #nav__toggle svg rect:nth-of-type(3) {
	transform: translateX(10px);
}

.nav--content-visible #nav__toggle svg rect:nth-of-type(2) {
	transform: translateX(-10px);
}

/* :: */
/* :: Cards */
/* :: */

.card {
	max-width: var(--single-col-width);
	padding: 1em;
	position: relative;
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow-light);
	overflow: hidden;
}

.card__title {
	text-align: center;
	font-weight: 400;
	font-size: 1.6em;
	margin-bottom: .5em;
	margin-top: 0;
	opacity: .8;
}

.card--cover {
	padding: 0;
}

.card--cover img {
	min-height: 300px;
	object-fit: cover;
	object-position: left;
}

.card a {
	font-weight: 700;
}

.illustration {
	max-width: var(--single-col-width);
}

.avatar img {
	width: 200px;
	border-radius: 50%;
	box-shadow: var(--box-shadow-medium);
	filter: none;
	transition: 
		filter var(--trans-normal) ease-in-out, 
		box-shadow var(--trans-normal) ease-in-out;
}

.avatar img:hover,
.avatar img:focus {
	filter: contrast(115%);
}

/* :: */
/* :: Gallery :: */
/* :: */

.gallery {
	display: grid;
	grid-template-columns: repeat(var(--gallery-cols), 1fr);
	gap: 2em;
	justify-content: center;
	width: 100%;
	padding: 2em 0;
}

.gallery:first-of-type {
	padding: 0;
}

.gallery__title {
	grid-column: span var(--gallery-cols);
}

.gallery__title a {
	text-decoration: none;
}

.gallery__item {
	z-index: 0;
	position: relative;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-light);
	background-color: transparent;
	color: var(--color-white);
	overflow: hidden;
	filter: contrast(110%);
	cursor: pointer;
	transition: background-color var(--trans-long) ease-in-out;
}

.gallery__item::after {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-image: var(--gradient-focus);
}

.gallery__item::after,
.gallery__item__thumbnail {
	transition: opacity var(--trans-long) ease-in-out;
}

.gallery__item__title,
.gallery__item__description {
	transition: transform var(--trans-normal) ease-in-out;
}

.gallery__item__thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery__item__title,
.gallery__item__description {
	z-index: 2;
	position: absolute;
	left: 1em;
	right: 1em;
}

.gallery__item__title {
	top: 0;
	transform: translateY(-200%);
}

.gallery__item__description {
	bottom: 0;
	opacity: 1;
	transform: translateY(200%);
}

.gallery__item__description a {
	font-weight: 700;
	text-decoration: underline;
}

.gallery--codepens .gallery__item {
	background-color: var(--color-darker);
}

.gallery--codepens .gallery__item__title {
	font-size: 1.6em;
	transform: none;
}

.gallery--codepens .gallery__item__thumbnail {
	opacity: .7;
}

/* :: lightbox :: */

.lightbox {
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: .5em;
	color: var(--color-white);
	background-color: rgba(0, 0, 0, 0.85);
	transform: scale(1, 0);
	opacity: 0;
	transition: 
		opacity var(--trans-normal) ease-in-out, 
		transform 0ms linear var(--trans-normal);
}

.lightbox__content {
	position: relative;
	max-width: var(--single-col-width);
}

.lightbox__image {
	max-height: 93vh;
	box-shadow: var(--box-shadow-intense);
}

.lightbox__text {
	display: none;
	width: 22vw;
	position: absolute;
	left: 2em;
	top: 5em;
}

.lightbox__close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 0;
	top: 0;
	left: 50%;
	width: 27px;
	height: 27px;
	background-color: var(--color-light);
	box-shadow: var(--box-shadow-intense);
	border-radius: 50%;
	border: none;
	transform: translate(-50%, -50%);
	font-weight: 700;
	cursor: pointer;
}

.lightbox__close rect {
	fill: var(--color-darker);
	transition: fill var(--trans-short) ease-in-out;
}

.lightbox__close rect:first-of-type {
	transform: translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
}

.lightbox__close rect:last-of-type {
	transform: translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
}

/* :: */
/* :: Art links */
/* :: */

.art-links {
	max-width: var(--single-col-width);
}

.art-links__group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
	justify-items: center;
	gap: .5em;
	padding: 3em 0;
}

.art-links__link {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 3em;
	width: 3em;
	padding: .5em;
	background-color: var(--color-dark-gray);
	box-shadow: var(--box-shadow-medium);
	border-radius: 50%;
}

.art-links__link.designs {
	background-color: var(--color-99designs);
}

.art-links__link.deviantart {
	background-color: var(--color-deviantart);
}

.art-links__link.teespring {
	background-color: var(--color-teespring);
}

.art-links__link img {
	max-height: 2em;
}

/* :: */
/* :: Music :: */
/* :: */

.music {
	max-width: var(--single-col-width);
	min-width: 0;
	text-align: center;
}

.music__group {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding: 2em 0;
}

.music__track__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
}

.music__track__title::before,
.music__track__title::after {
	content: ' ::: ';
}

.music__track__audio {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-medium);
}

/* :: */
/* :: Contact :: */
/* :: */

.contact-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.contact-links__link {
	--padding: 1em;
	
	display: flex;
	align-items: center;
	border-radius: 3em;
	box-shadow: var(--box-shadow-light);
	position: relative;
	padding: var(--padding);
	text-decoration: none;
}

.contact-links__link.proton-mail {
	background-color: var(--color-proton);
}

.contact-links__link.github {
	background-color: var(--color-github);
}

.contact-links__link.phone {
	background-color: var(--color-dark);
}

.contact-links__link__image {
	display: inline-block;
	height: 1.5em;
	margin-right: var(--padding);
	object-fit: cover;
	object-position: center;
	filter: brightness(300%);
}

.contact-links__link__text {
	color: var(--color-light);
	font-size: 1rem;
}

.contact-links__link+.contact-links__link {
	margin-top: 1.5em;
}

/* :: */
/* :: Media queries */
/* :: */

@media only screen and (min-width: 800px) {
	
	:root {
		--gallery-cols: 2;
	}

	/* :: */
	/* :: Navigation: desktop mode */
	/* :: */

	nav {
		--padding: 2rem;
		--logo-size: 48px;
	}

	.nav__logo {
		width: var(--logo-size);
		height: var(--logo-size);
		background-image: url('media/icons/icon-medium.png');
		background-size: 100%;
		z-index: 100;
	}

	.nav__current,
	#nav__toggle {
		display: none;
	}
	
	.nav__content {
		grid: "... sections links" / calc(var(--logo-size) + var(--padding))  1fr .4fr;
		align-items: center;
		position: fixed;
		top: 0;
		height: var(--nav-height);
		width: 100%;
		transform: none;
		box-shadow: none;
		background-color: transparent;
		padding: 0 var(--padding);
	}
	
	.nav__content__links,
	.nav__content__sections {
		display: flex;
	}
	
	.nav__content__links {
		grid-area: links;
		justify-self: end;
	}

	.nav__content__links a + a {
		margin-left: var(--padding);
	}

	.nav__content__sections {
		grid-area: sections;
		justify-self: start;
	}

	.nav__content__sections__title {
		display: none;
	}

	.nav__content__sections__link {
		cursor: pointer;
	}

	.nav__content__sections__link + .nav__content__sections__link {
		margin-left: var(--padding);
	}

	/* :: */
	/* :: Gallery */
	/* :: */

	.gallery__item:hover,
	.gallery__item:focus {
		background-color: var(--color-darker);
	}

	.gallery__item:hover .gallery__item__thumbnail,
	.gallery__item:focus .gallery__item__thumbnail {
		opacity: .7;
	}

	.gallery__item:hover::after,
	.gallery__item:focus::after {
		opacity: 1;
	}

	.gallery__item:hover .gallery__item__title,
	.gallery__item:hover .gallery__item__description,
	.gallery__item:focus .gallery__item__title,
	.gallery__item:focus .gallery__item__description {
		transform: translateY(0);
	}

	.gallery__item__thumbnail {
		min-height: 15em;
	}

	.gallery--codepens .gallery__item__title {
		font-size: 1.8em;
		transform: translateY(-200%);
	}

	.gallery--codepens .gallery__item__thumbnail {
		opacity: 1;
	}

	.lightbox__close rect {
		fill: transparent;
	}

	.lightbox__close:hover rect,
	.lightbox__close:focus rect {
		fill: var(--color-darker);
	}

	.contact-links {
		flex-direction: row;
	}

	.contact-links__link + .contact-links__link {
		margin-top: 0;
		margin-left: 1.5em;
	}

	.contact-links__link__text {
		font-size: 1.2rem;
	}

	.music__group {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1080px) {
	
	:root {
		--gallery-cols: 3;
	}
	
	.nav__content {
		grid: "... sections links" / .4fr 1fr .4fr;
	}

	.nav__content__sections {
		justify-self: center;
	}

	.lightbox__text {
		display: block;
	}

	.gallery.codepen {
		grid-template-columns: repeat(3, 1fr);
	}

	.gallery.codepen .gallery__title {
		grid-column: span 3;
	}
}

@media only screen and (min-width: 1366px) {
	
	:root {
		--gallery-cols: 4;
	}

	nav {
		--padding: 4rem;
	}
}

@media (prefers-color-scheme: dark) {
	
	body {
		background-color: var(--color-darker);
		color: var(--color-light);
	}
	
	footer {
		background-color: var(--color-darker);
	}
	
	i {
		color: var(--color-accent-light);
	}
	
	b {
		opacity: .9;
	}
	
	.card__title, p {
		opacity: .92;
	}
	
	.card {
		background-color: var(--color-dark);
		box-shadow: var(--box-shadow-light);
	}
}