<section class="single-column" id="art">
	<div 
		class="gallery"
		id="drawings" 
		data-lightbox>
		<h2 class="gallery__title">Drawings</h2>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/lisboa.webp,
							media/images/gallery/drawings/webp/@2x/lisboa@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/lisboa@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - lisboa poster"
					src="media/images/gallery/drawings/jpg/@1x/lisboa.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/lisboa.jpg,
							media/images/gallery/drawings/jpg/@2x/lisboa@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/lisboa@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Lisboa</h2>
			<p class="gallery__item__description">Illustration / Poster of the beautiful city Lisboa. Created as a contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/hon-solo.webp,
							media/images/gallery/drawings/webp/@2x/hon-solo@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/hon-solo@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - hon solo poster"
					src="media/images/gallery/drawings/jpg/@1x/hon-solo.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/hon-solo.jpg,
							media/images/gallery/drawings/jpg/@2x/hon-solo@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/hon-solo@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Hon Solo</h2>
			<p class="gallery__item__description">Dedicated to Rubic Stark Queen of Pasta. She is hon and she has a hairy friend which makes her...</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/derium-5.webp,
							media/images/gallery/drawings/webp/@2x/derium-5@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/derium-5@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - derium-5 poster"
					src="media/images/gallery/drawings/jpg/@1x/derium-5.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/derium-5.jpg,
							media/images/gallery/drawings/jpg/@2x/derium-5@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/derium-5@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Derium 5</h2>
			<p class="gallery__item__description">Drawing of the planet for my future book. Secrets of great knowledge and shadows of the eternal curse are hidden there...</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/divine-calling.webp,
							media/images/gallery/drawings/webp/@2x/divine-calling@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/divine-calling@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - divine calling artwork"
					src="media/images/gallery/drawings/jpg/@1x/divine-calling.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/divine-calling.jpg,
							media/images/gallery/drawings/jpg/@2x/divine-calling@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/divine-calling@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Divine Calling</h2>
			<p class="gallery__item__description">Originally a book cover contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>. What would thee do, if divinity would call thine name?</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/hon-solo-poster.webp,
							media/images/gallery/drawings/webp/@2x/hon-solo-poster@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/hon-solo-poster@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - hon solo movie like poster"
					src="media/images/gallery/drawings/jpg/@1x/hon-solo-poster.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/hon-solo-poster.jpg,
							media/images/gallery/drawings/jpg/@2x/hon-solo-poster@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/hon-solo-poster@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Hon Solo</h2>
			<p class="gallery__item__description">Dedicated to Rubic Stark Queen of Pasta. More movie poster like version. She is hon and she has a hairy friend which makes her...</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/knight-slayer-tsorig.webp,
							media/images/gallery/drawings/webp/@2x/knight-slayer-tsorig@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/knight-slayer-tsorig@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - knight slayer tsorig poster"
					src="media/images/gallery/drawings/jpg/@1x/knight-slayer-tsorig.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/knight-slayer-tsorig.jpg,
							media/images/gallery/drawings/jpg/@2x/knight-slayer-tsorig@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/knight-slayer-tsorig@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Knight Slayer Tsorig</h2>
			<p class="gallery__item__description">A character from videogame Dark Souls III. Famous slayer of the knights. If you come across this person, don't put too much trust on your shield.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/oceiros.webp,
							media/images/gallery/drawings/webp/@2x/oceiros@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/oceiros@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - oceiros poster"
					src="media/images/gallery/drawings/jpg/@1x/oceiros.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/oceiros.jpg,
							media/images/gallery/drawings/jpg/@2x/oceiros@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/oceiros@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Oceiros</h2>
			<p class="gallery__item__description">Inspired by posters from videogame franchise Fallout. Join the Oddysey. New hyperhighway promises to be something special.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/drawings/webp/@1x/toothzzapper.webp,
							media/images/gallery/drawings/webp/@2x/toothzzapper@2x.webp 2x,
							media/images/gallery/drawings/webp/@3x/toothzzapper@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="gallery item - toothzzapper poster"
					src="media/images/gallery/drawings/jpg/@1x/toothzzapper.jpg"
					srcset="media/images/gallery/drawings/jpg/@1x/toothzzapper.jpg,
							media/images/gallery/drawings/jpg/@2x/toothzzapper@2x.jpg 2x,
							media/images/gallery/drawings/jpg/@3x/toothzzapper@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Toothzzapper</h2>
			<p class="gallery__item__description">Another poster dedicated to Rubic Stark Queen of Pasta. This odd device is marketed as the remedy against bacteria in your mouth.</p>
		</div>
	</div>

	<div 
		class="gallery"
		id="designs" 
		data-lightbox>
		<h2 class="gallery__title"><a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a></h2>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/art-of-music-production.webp,
							media/images/gallery/99designs/webp/@2x/art-of-music-production@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/art-of-music-production@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - art of music production"
					src="media/images/gallery/99designs/jpg/@1x/art-of-music-production.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/art-of-music-production.jpg,
							media/images/gallery/99designs/jpg/@2x/art-of-music-production@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/art-of-music-production@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Art of Music Production</h2>
			<p class="gallery__item__description">Logo made of musical studio equipment. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/before-the-bell.webp,
							media/images/gallery/99designs/webp/@2x/before-the-bell@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/before-the-bell@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - before the bell"
					src="media/images/gallery/99designs/jpg/@1x/before-the-bell.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/before-the-bell.jpg,
							media/images/gallery/99designs/jpg/@2x/before-the-bell@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/before-the-bell@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Before The Bell</h2>
			<p class="gallery__item__description">A cover for the play about schoolboys and schoolgirls. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/dita-umbrella.webp,
							media/images/gallery/99designs/webp/@2x/dita-umbrella@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/dita-umbrella@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - dita umbrella"
					src="media/images/gallery/99designs/jpg/@1x/dita-umbrella.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/dita-umbrella.jpg,
							media/images/gallery/99designs/jpg/@2x/dita-umbrella@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/dita-umbrella@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Dita Umbrella</h2>
			<p class="gallery__item__description">Logo for a beach parasol or umbrella. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/dr-kilmers.webp,
							media/images/gallery/99designs/webp/@2x/dr-kilmers@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/dr-kilmers@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - dr. kilmer's"
					src="media/images/gallery/99designs/jpg/@1x/dr-kilmers.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/dr-kilmers.jpg,
							media/images/gallery/99designs/jpg/@2x/dr-kilmers@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/dr-kilmers@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Dr. Kilmer's</h2>
			<p class="gallery__item__description">Dr. Kilmer's Cultured Tea. Beware of Frauds and Imposters! Vintage-themed bottled drinks to hipsters. Never had a chance to taste it. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/emblem.webp,
							media/images/gallery/99designs/webp/@2x/emblem@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/emblem@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - emblem"
					src="media/images/gallery/99designs/jpg/@1x/emblem.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/emblem.jpg,
							media/images/gallery/99designs/jpg/@2x/emblem@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/emblem@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">House Emblem</h2>
			<p class="gallery__item__description">Medieval style house emblem. Not as detailed as it could have been, but still looks good. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/flat.webp,
							media/images/gallery/99designs/webp/@2x/flat@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/flat@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - flat"
					src="media/images/gallery/99designs/jpg/@1x/flat.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/flat.jpg,
							media/images/gallery/99designs/jpg/@2x/flat@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/flat@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Flat</h2>
			<p class="gallery__item__description">Vintage style logo. One of my first vintage style logos. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/home-pride.webp,
							media/images/gallery/99designs/webp/@2x/home-pride@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/home-pride@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - home pride"
					src="media/images/gallery/99designs/jpg/@1x/home-pride.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/home-pride.jpg,
							media/images/gallery/99designs/jpg/@2x/home-pride@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/home-pride@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Home Pride</h2>
			<p class="gallery__item__description">Logo for a professional handyman. Quality craftsmanship you can trust. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/kitchenyen.webp,
							media/images/gallery/99designs/webp/@2x/kitchenyen@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/kitchenyen@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - kitchenyen"
					src="media/images/gallery/99designs/jpg/@1x/kitchenyen.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/kitchenyen.jpg,
							media/images/gallery/99designs/jpg/@2x/kitchenyen@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/kitchenyen@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Kitchenyen</h2>
			<p class="gallery__item__description">It's a whisk. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/mainely-goldens.webp,
							media/images/gallery/99designs/webp/@2x/mainely-goldens@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/mainely-goldens@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - mainely goldens"
					src="media/images/gallery/99designs/jpg/@1x/mainely-goldens.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/mainely-goldens.jpg,
							media/images/gallery/99designs/jpg/@2x/mainely-goldens@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/mainely-goldens@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Mainely Goldens</h2>
			<p class="gallery__item__description">Golden retriever proudly representing state of Mane. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/south-west-builders.webp,
							media/images/gallery/99designs/webp/@2x/south-west-builders@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/south-west-builders@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - south west builders"
					src="media/images/gallery/99designs/jpg/@1x/south-west-builders.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/south-west-builders.jpg,
							media/images/gallery/99designs/jpg/@2x/south-west-builders@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/south-west-builders@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">South West Builders</h2>
			<p class="gallery__item__description">Logo for building company. Rehab houses. Build Houses. Remodeling. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/pinewood.webp,
							media/images/gallery/99designs/webp/@2x/pinewood@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/pinewood@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - pinewood"
					src="media/images/gallery/99designs/jpg/@1x/pinewood.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/pinewood.jpg,
							media/images/gallery/99designs/jpg/@2x/pinewood@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/pinewood@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Pinewood</h2>
			<p class="gallery__item__description">Vintage logo with nice pinetrees. Created for Pinewood wedding venue. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/river-forest.webp,
							media/images/gallery/99designs/webp/@2x/river-forest@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/river-forest@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - river forest"
					src="media/images/gallery/99designs/jpg/@1x/river-forest.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/river-forest.jpg,
							media/images/gallery/99designs/jpg/@2x/river-forest@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/river-forest@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">River Forest</h2>
			<p class="gallery__item__description">Another vintage logo. Don't even remember what company does... A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/root-conscious.webp,
							media/images/gallery/99designs/webp/@2x/root-conscious@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/root-conscious@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - root conscious"
					src="media/images/gallery/99designs/jpg/@1x/root-conscious.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/root-conscious.jpg,
							media/images/gallery/99designs/jpg/@2x/root-conscious@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/root-conscious@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Root Conscious</h2>
			<p class="gallery__item__description">Flowers and roots. Vintage twist for holistic living in a modern world. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/sean-ring.webp,
							media/images/gallery/99designs/webp/@2x/sean-ring@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/sean-ring@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - sean ring"
					src="media/images/gallery/99designs/jpg/@1x/sean-ring.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/sean-ring.jpg,
							media/images/gallery/99designs/jpg/@2x/sean-ring@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/sean-ring@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Sean Ring</h2>
			<p class="gallery__item__description">Logo for a copywriter. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/swimming-in-spinkles.webp,
							media/images/gallery/99designs/webp/@2x/swimming-in-spinkles@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/swimming-in-spinkles@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - swimming in spinkles"
					src="media/images/gallery/99designs/jpg/@1x/swimming-in-spinkles.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/swimming-in-spinkles.jpg,
							media/images/gallery/99designs/jpg/@2x/swimming-in-spinkles@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/swimming-in-spinkles@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Swimming In Sprinkles</h2>
			<p class="gallery__item__description">"Colorful Instagram Style" logo for Swimming In Sprinkles - a children's gift company. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/the-happy-carry-on.webp,
							media/images/gallery/99designs/webp/@2x/the-happy-carry-on@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/the-happy-carry-on@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - the happy carry on"
					src="media/images/gallery/99designs/jpg/@1x/the-happy-carry-on.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/the-happy-carry-on.jpg,
							media/images/gallery/99designs/jpg/@2x/the-happy-carry-on@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/the-happy-carry-on@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">The Happy Carry On</h2>
			<p class="gallery__item__description">Travel website logo for minimalist nomads. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/the-watering-can.webp,
							media/images/gallery/99designs/webp/@2x/the-watering-can@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/the-watering-can@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - the watering can"
					src="media/images/gallery/99designs/jpg/@1x/the-watering-can.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/the-watering-can.jpg,
							media/images/gallery/99designs/jpg/@2x/the-watering-can@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/the-watering-can@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">The Watering Can</h2>
			<p class="gallery__item__description">Sleek and rustic logo for boutique flower shop. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/wheelie.webp,
							media/images/gallery/99designs/webp/@2x/wheelie@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/wheelie@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - wheelie"
					src="media/images/gallery/99designs/jpg/@1x/wheelie.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/wheelie.jpg,
							media/images/gallery/99designs/jpg/@2x/wheelie@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/wheelie@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Wheelie</h2>
			<p class="gallery__item__description">It's a mobile cafe. It serves espresso coffee and other delicious drinks from the back. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/world-map.webp,
							media/images/gallery/99designs/webp/@2x/world-map@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/world-map@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - world map"
					src="media/images/gallery/99designs/jpg/@1x/world-map.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/world-map.jpg,
							media/images/gallery/99designs/jpg/@2x/world-map@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/world-map@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">World Map</h2>
			<p class="gallery__item__description">Put like 10 hours (if not more) in this, but client said that it sucks. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
		<div class="gallery__item">
			<picture class="gallery__item__thumbnail">
				<source 
					type="image/webp" 
					srcset="media/images/gallery/99designs/webp/@1x/zanticipation.webp,
							media/images/gallery/99designs/webp/@2x/zanticipation@2x.webp 2x,
							media/images/gallery/99designs/webp/@3x/zanticipation@3x.webp 3x">
				<img class="gallery__item__thumbnail"
					alt="99designs gallery item - zanticipation"
					src="media/images/gallery/99designs/jpg/@1x/zanticipation.jpg"
					srcset="media/images/gallery/99designs/jpg/@1x/zanticipation.jpg,
							media/images/gallery/99designs/jpg/@2x/zanticipation@2x.jpg 2x,
							media/images/gallery/99designs/jpg/@3x/zanticipation@3x.jpg 3x">
			</picture>
			<h2 class="gallery__item__title">Zanticipation</h2>
			<p class="gallery__item__description">Zanticipation is innevitable. Vintage styled design. A contest entry on <a href="https://99designs.com/profiles/hazeman" aria-label="Go to my profile on 99designs.com" target="_blank">99designs</a>.</p>
		</div>
	</div>
	
	<div class="lightbox">
		<div class="lightbox__content">
			<button class="lightbox__close">
				<svg width="14" height="14">
					<rect x="0" y="6" width="14" height="2"></rect>
					<rect x="0" y="6" width="14" height="2"></rect>
				</svg>
			</button>
			<picture class="lightbox__image"></picture>
		</div>
		<div class="lightbox__text">
			<h2></h2>
			<p></p>
		</div>
	</div>

	<div 
		class="art-links"
		id="more">
		<h2 class="art-links__title">Wanna see more?</h2>
		<div class="art-links__group">
			<a 
				class="art-links__link designs" 
				href="https://en.99designs.fr/profiles/hazeman" 
				target="_blank" 
				title="99designs.com">
				<img src="media/images/art-links/99designs.png" alt="99designs logo">
			</a>
			<a 
				class="art-links__link deviantart" 
				href="https://www.deviantart.com/hazeman27" 
				target="_blank" 
				title="deviantart.com">
				<img src="media/images/art-links/deviantart.png" alt="deviantart logo">
			</a>
			<a 
				class="art-links__link" 
				href="https://www.teepublic.com/user/hazeman" 
				target="_blank" 
				title="teepublic.com">
				<img src="media/images/art-links/teepublic.png" alt="teepublic logo">
			</a>
			<a 
				class="art-links__link teespring" 
				href="https://teespring.com/stores/hazestore" 
				target="_blank" 
				title="my store at teespring.com">
				<img src="media/images/art-links/teespring.png" alt="teespring logo">
			</a>
		</div>
		
	</div>

	<div class="card">
		<h2 class="card__title">I love Adobe Illustrator</h2>
		<div class="card__body">
			<p>All of my vector <i>artworks</i> and <i>logos</i> are done in <b>Adobe Illustrator</b>. I truly enjoy every second working in it. I only wish that Adobe will make a <i>Linux</i> version of their Creative Cloud products, because ever since I have tried working on <i>Linux</i>, it is hard to go back to Windows.</p>
		</div>
	</div>

	<figure class="illustration">
		<picture>
			<source type="image/png" media="(min-width: 600px)" srcset="media/images/inside-illy.png">
			<img src="media/images/inside-illy-condensed.png" alt="Inside Illustrator">
		</picture>
		<figcaption>Recursion...</figcaption>
	</figure>

	<div 
		class="gallery codepens"
		id="codepens">
		<h2 class="gallery__title">codepens</h2>
		<a 
			class="gallery__item" 
			href="https://codepen.io/Hazeman/pen/joQmOq" 
			target="_blank"
			aria-label="View source code on codepen.io">
			<img 
				class="gallery__item__thumbnail"
				alt="codepens gallery item - carousel and masonry grid" 
				src="media/images/codepens/carousel-and-masonry-grid.jpg">
			<h2 class="gallery__item__title">Carousel And Masonry Grid</h2>
		</a>
		<a 
			class="gallery__item" 
			href="https://codepen.io/Hazeman/pen/xQppxE" 
			target="_blank"
			aria-label="View source code on codepen.io">
			<img 
				class="gallery__item__thumbnail"
				alt="codepens gallery item - overlaping borders" 
				src="media/images/codepens/overlaping-borders.jpg">
			<h2 class="gallery__item__title">Overlaping Borders Effect</h2>
		</a>
		<a 
			class="gallery__item" 
			href="https://codepen.io/Hazeman/pen/arQWyj" 
			target="_blank"
			aria-label="View source code on codepen.io">
			<img 
				class="gallery__item__thumbnail"
				alt="codepens gallery item - cosmos" 
				src="media/images/codepens/cosmos.jpg">
			<h2 class="gallery__item__title">Cosmos</h2>
		</a>
		<a 
			class="gallery__item" 
			href="https://codepen.io/Hazeman/pen/OYapYe" 
			target="_blank"
			aria-label="View source code on codepen.io">
			<img 
				class="gallery__item__thumbnail"
				alt="codepens gallery item - playing with grid"
				src="media/images/codepens/playing-with-grid.jpg">
			<h2 class="gallery__item__title">Playing With CSS Grid</h2>
		</a>
	</div>

	<div 
		class="music"
		id="music">
		<h2 class="music__title">Music</h2>
		<div class="music__group">
			<div class="music__track">
				<p class="music__track__title">Awakening Of The Old One</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Awakening Of The Old One.mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
			<div class="music__track">
				<p class="music__track__title">Bowl</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Bowl.mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
			<div class="music__track">
				<p class="music__track__title">Gates Are Closing...</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Gates Are Closing...mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
			<div class="music__track">
				<p class="music__track__title">Redington</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Redington.mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
			<div class="music__track">
				<p class="music__track__title">Transit</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Transit.mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
			<div class="music__track">
				<p class="music__track__title">Warmth</p>
				<audio controls class="music__track__audio">
					<source src="media/music/Warmth.mp3" type="audio/mpeg">
					Your browser does not support 'audio' element :(
				</audio>
			</div>
		</div>
	</div>

	<div class="card card_cover">
		<img 
			src="media/images/metallica.jpg" 
			alt="Metallica" 
			title="Image with free license!">
	</div>
</section>
