<section class="contact-links">
	<a class="contact-links__link github"
	   href="https://github.com/hazeman27/"
	   target="_blank"
	   title="Me on GitHub"
	   aria-label="Go to my GitHub page">
		<img class="contact-links__link__image"
		     src="./media/images/contact-links/github.svg"
		     alt="github logo">
		<span class="contact-links__link__text">GitHub</span>
	</a>
	<a class="contact-links__link proton-mail"
	   href="mailto:hazeman-me@protonmail.com?Subject=Hi"
	   target="_top"
	   title="Click to e-mail me"
	   aria-label="Write me an e-mail">
		<img class="contact-links__link__image"
		     src="./media/images/contact-links/mail.svg"
		     alt="protonmail logo">
		<span class="contact-links__link__text">hazeman&#8209;me@protonmail.com</span>
	</a>
</section>
<section class="card">
	<h2 class="card__title">Contact Me Anytime!</h2>
	<div class="card__body">
		<p>Don't hesitate and write or call me anytime! Most of <i>these</i> days I am busy doing <i>front-end</i>
		   stuff, writing music, watching videos about <i>roman history</i> or just playing <i>video games</i> 🙂
		</p>
	</div>
</section>
<section class="card card--cover">
	<img src="./media/images/day-guitar.png"
	     alt="Rubic And Guitar Player...">
</section>
