<section class="single-column">
    <figure class="avatar">
        <img alt="Kill Bill Volume 2. Beatrix is here..." src="media/images/avatar.png">
        <figcaption>I really don't like taking photos of myself...</figcaption>
    </figure>
    <div class="card">
        <h2 class="card__title">Who am I?</h2>
        <div class="card__body">
            <p>Creative and experienced <i>2D designer</i>, logo and brand identity designer. <i>Newbie front end developer</i>. Hardworking <i>artist</i> and a spare time musician.</p>
        </div>
    </div>
    <div class="card">
        <h2 class="card__title">Software I love and things I do!</h2>
        <div class="card__body">
            <p>
                <mark class="orange">JavaScript</mark>
                <mark class="navy">TypeScript</mark>
                <mark class="blue">html</mark>
                <mark class="darkblue">css</mark>
                <mark class="pink">sass</mark>
                <mark class="green">Vue.js</mark>
                <mark class="violet">music</mark>
                <mark class="navy">Photoshop</mark>
                <mark class="orange">Illustrator</mark>
                <mark class="pink">InDesign</mark>
                <mark class="blue">VS code</mark>
                <mark class="navy">2D design</mark>
                <mark class="indian">logo design</mark>
                <mark class="blue">brand identity design</mark>
                
            </p>
        </div>
    </div>
    <figure class="illustration">
        <picture>
            <source media="(min-width: 600px)" srcset="media/images/work-process.png" type="image/png">
            <source media="(min-width: 420px)" srcset="media/images/work-process-condensed.png" type="image/png">
            <img src="media/images/work-process-narrow.png" alt="Illustrator, Photoshop, VS Code">
        </picture>
        <figcaption>All starts with sketches and concepts...</figcaption>
    </figure>
    <div class="card">
        <h2 class="card__title">What do I do?</h2>
        <div class="card__body">
            <p>Whatever I want to do! Sounds odd, but that is true. Everyday I wake up and I just ask myself: <blockquote>What do I wanna do today? ...</blockquote></p>
        </div>
    </div>
    <div class="card">
        <h2 class="card__title">My <b>xp</b></h2>
        <div class="card__body">
            <mark class="black"><small>1 year and 3 months learning how to design</small></mark>
            <mark class="orange">Over 3 years designing logos and brand IDs on 99designs</mark>
            <mark class="violet"><small>Less than a year of <a href="https://en.wikipedia.org/wiki/Front-end_web_development" target="_blank">front end dev</a></small></mark>
        </div>
    </div>
    <div class="card card_cover">
        <img src="media/images/night-guitar.png" alt="A lone guitar player under the moon...">
    </div>
</section>
