<section class="single-column">
	<figure class="avatar">
		<img alt="Kill Bill Volume 2. Beatrix is here..."
		     src="./media/images/avatar.png">
		<figcaption>I really don't like taking photos of myself...</figcaption>
	</figure>
	<div class="card">
		<h2 class="card__title">Who am I?</h2>
		<div class="card__body">
			<p>Creative and experienced <i>2D designer</i>, logo and brand identity designer. <i>Front-end web
			                                                                                     developer</i>.
			   Hardworking <i>artist</i> and a spare time musician.
			</p>
		</div>
	</div>
	<div class="card">
		<h2 class="card__title">Software I love and things I do!</h2>
		<div class="card__body">
			<p>
				<mark class="background-color--orange">JavaScript</mark>
				<mark class="background-color--navy">TypeScript</mark>
				<mark class="background-color--blue">html</mark>
				<mark class="background-color--darkblue">css</mark>
				<mark class="background-color--pink">sass</mark>
				<mark class="background-color--green">Vue.js</mark>
				<mark class="background-color--violet">music</mark>
				<mark class="background-color--navy">Photoshop</mark>
				<mark class="background-color--orange">Illustrator</mark>
				<mark class="background-color--pink">InDesign</mark>
				<mark class="background-color--blue">VS code</mark>
				<mark class="background-color--navy">2D design</mark>
				<mark class="background-color--indian">logo design</mark>
				<mark class="background-color--blue">brand identity design</mark>
			</p>
		</div>
	</div>
	<figure class="illustration">
		<picture>
			<source media="(min-width: 600px)"
			        srcset="./media/images/work-process.png"
			        type="image/png">
			<source media="(min-width: 420px)"
			        srcset="./media/images/work-process-condensed.png"
			        type="image/png">
			<img src="./media/images/work-process-narrow.png"
			     alt="Illustrator, Photoshop, VS Code">
		</picture>
		<figcaption>All starts with sketches and concepts...</figcaption>
	</figure>
	<div class="card">
		<h2 class="card__title">What do I do?</h2>
		<div class="card__body">
			<p>Whatever I want to do! Sounds odd, but that is true. Everyday I wake up and I just ask myself:</p>
			<blockquote>What do I wanna do today? ...</blockquote>
		</div>
	</div>
	<div class="card">
		<h2 class="card__title">My <b>xp</b></h2>
		<div class="card__body">
			<mark class="background-color--black">2014 - 2016: learning how to design</mark>
			<mark class="background-color--orange">2016 to present: designing logos and brand IDs on
				<a href="https://99designs.com/profiles/hazeman"
                   rel="noreferrer"
				   target="_blank">99designs
				</a>
			</mark>
			<mark class="background-color--violet">2018 to present:
				<a href="https://en.wikipedia.org/wiki/Front-end_web_development"
                   rel="noreferrer"
				   target="_blank">front-end dev
				</a>
			</mark>
		</div>
	</div>
	<div class="card card--cover">
		<img src="./media/images/night-guitar.png"
		     alt="A lone guitar player under the moon...">
	</div>
</section>
