.contact-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.contact-links__link {
	--padding: .65em;
	
	display: flex;
	align-items: center;
	border-radius: 3em;
	box-shadow: var(--box-shadow-light);
	position: relative;
	padding: var(--padding);
	text-decoration: none;
}

.contact-links__link.proton-mail {
	background-color: var(--color-proton);
}

.contact-links__link.github {
	background-color: var(--color-github);
}

.contact-links__link.phone {
	background-color: var(--color-dark);
}

.contact-links__link__image {
	display: inline-block;
	height: 1.5em;
	margin-right: var(--padding);
	object-fit: cover;
	object-position: center;
	filter: brightness(300%);
}

.contact-links__link__text {
	color: var(--color-light);
	font-size: .9rem;
}

.contact-links__link+.contact-links__link {
	margin-top: 1.5em;
}