.gallery {
	display: grid;
	grid-template-columns: repeat(var(--gallery-cols), 1fr);
	gap: 2em;
	justify-content: center;
	width: 100%;
	padding: 2em 0;
}

.gallery:first-of-type {
	padding: 0;
}

.gallery__title {
	grid-column: span var(--gallery-cols);
}

.gallery__title a {
	text-decoration: none;
}

.gallery__item {
	z-index: 0;
	position: relative;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-light);
	background-color: var(--color-dark-gray);
	color: var(--color-white);
	overflow: hidden;
	filter: contrast(110%);
	cursor: pointer;
	transition: background-color var(--trans-long) ease-in-out;
}

.gallery__item::after {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-image: var(--gradient-focus);
}

.gallery__item::after,
.gallery__item__thumbnail {
	transition: opacity var(--trans-long) ease-in-out;
}

.gallery__item__title,
.gallery__item__description {
	transition: transform var(--trans-normal) ease-in-out;
}

.gallery__item__thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery__item__title,
.gallery__item__description {
	z-index: 2;
	position: absolute;
	left: 1em;
	right: 1em;
}

.gallery__item__title {
	top: 0;
	transform: translateY(-200%);
}

.gallery__item__description {
	bottom: 0;
	opacity: 1;
	transform: translateY(200%);
}

.gallery__item__description a {
	font-weight: 700;
	text-decoration: underline;
}

.gallery--codepens .gallery__item {
	background-color: var(--color-darker);
}

.gallery--codepens .gallery__item__title {
	font-size: 1.6em;
	transform: none;
}

.gallery--codepens .gallery__item__thumbnail {
	opacity: .7;
}

/* :: lightbox :: */

.lightbox {
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: .5em;
	color: var(--color-white);
	background-color: rgba(0, 0, 0, 0.85);
	transform: scale(1, 0);
	opacity: 0;
	transition:
		opacity var(--trans-normal) ease-in-out,
		transform 0ms linear var(--trans-normal);
}

.lightbox__content {
	position: relative;
	max-width: var(--single-col-width);
}

.lightbox__image {
	max-height: 93vh;
	box-shadow: var(--box-shadow-intense);
}

.lightbox__text {
	display: none;
	width: 22vw;
	position: absolute;
	left: 2em;
	top: 5em;
}

.lightbox__close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 0;
	top: 0;
	left: 50%;
	width: 27px;
	height: 27px;
	background-color: var(--color-light);
	box-shadow: var(--box-shadow-intense);
	border-radius: 50%;
	border: none;
	transform: translate(-50%, -50%);
	font-weight: 700;
	cursor: pointer;
}

.lightbox__close rect {
	fill: var(--color-darker);
	transition: fill var(--trans-short) ease-in-out;
}

.lightbox__close rect:first-of-type {
	transform: translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
}

.lightbox__close rect:last-of-type {
	transform: translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
}

/* :: */
/* :: Art links */
/* :: */

.art-links {
	max-width: var(--single-col-width);
}

.art-links__group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
	justify-items: center;
	gap: .5em;
	padding: 3em 0;
}

.art-links__link {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 3em;
	width: 3em;
	padding: .5em;
	background-color: var(--color-dark-gray);
	box-shadow: var(--box-shadow-medium);
	border-radius: 50%;
}

.art-links__link.designs {
	background-color: var(--color-99designs);
}

.art-links__link.deviantart {
	background-color: var(--color-deviantart);
}

.art-links__link.teespring {
	background-color: var(--color-teespring);
}

.art-links__link img {
	max-height: 2em;
}

/* :: */
/* :: Music :: */
/* :: */

.music {
	max-width: var(--single-col-width);
	min-width: 0;
	text-align: center;
}

.music__group {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em;
	padding: 2em 0;
}

.music__track__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
}

.music__track__title::before,
.music__track__title::after {
	content: ' ::: ';
}

.music__track__audio {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-medium);
}