<button 
	id="nav__toggle"
	name="navigation panel toggle" 
	type="button">
	<svg width="32" height="22">
		<rect x="0" y="0" width="32" height="4"></rect>
		<rect x="0" y="9" width="32" height="4"></rect>
		<rect x="0" y="18" width="32" height="4"></rect>
	</svg>
</button>
<a 
	aria-label="Return to home page" 
	href="/index.html"
	id="nav__logo"></a>
<span id="nav__current">Hazeman</span>
<div id="nav__content">
	<div id="nav__content__links">
		<a href="me" aria-label="Go to 'Me' page">Me</a>
		<a href="art" aria-label="Go to 'Art' page">Art</a>
		<a href="contact" aria-label="Go to 'Contact' page">Contact</a>
	</div>

	<div id="nav__content__sections"></div>
</div>
