.nav__content {
	grid: "color-scheme sections links" / .4fr 1fr .4fr;
}

.nav__content__links a {
	font-size: 1.165rem;
}

.nav__content__sections {
	font-size: 1.05rem;
}

.nav__content__sections {
	justify-self: center;
}

.nav__content__color-scheme-select {
	font-size: 1.05rem;
}

.nav__content__color-scheme-select__icon {
	margin-right: calc(var(--size) / 2);
}

#color-scheme-selector {
	padding: .25rem .5rem;
}

.lightbox__text {
	display: block;
}


.gallery {
	--item-min-width: 300px;
}