body:not([data-theme="light"]),
body[data-theme="dark"] {
	background-color: var(--color-darker);
	color: var(--color-light);
}

body:not([data-theme="light"]) footer,
body[data-theme="dark"] footer {
	background-color: var(--color-darker);
}

body:not([data-theme="light"]) i,
body[data-theme="dark"] i {
	color: var(--color-accent-light);
}

body:not([data-theme="light"]) b,
body[data-theme="dark"] b {
	opacity: .9;
}

body:not([data-theme="light"]) .card__title,
body:not([data-theme="light"]) p,
body[data-theme="dark"] .card__title,
body[data-theme="dark"] p {
	opacity: .92;
}

body:not([data-theme="light"]) .card,
body[data-theme="dark"] .card {
	background-color: var(--color-dark);
	box-shadow: var(--box-shadow-light);
}