.gallery {

	display: grid;
	grid-template-columns: repeat(var(--gallery-cols), 1fr);
	gap: 2em;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding: 2em 0;

	&:first-of-type {
		padding: 0;
	}

	&__title {
		grid-column: span var(--gallery-cols);
	}

	&__item {

		z-index: 0;
		position: relative;
		border-radius: var(--border-radius);
		-webkit-box-shadow: var(--box-shadow-light);
		box-shadow: var(--box-shadow-light);
		background-color: transparent;
		color: var(--color-white);
		overflow: hidden;
		-webkit-filter: contrast(110%);
		filter: contrast(110%);
		cursor: pointer;
		-webkit-transition:
			background-color var(--trans-long) ease-in-out;
		transition:
			background-color var(--trans-long) ease-in-out;

		&:hover {
			background-color: var(--color-darker)
		}

		&:hover &__thumbnail {
			opacity: .7
		}

		&:hover::after {
			opacity: 1
		}

		&:hover &__title,
		&:hover &__description {
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}

		&::after {

			z-index: 1;
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			background-image: var(--gradient-focus);
		}

		&::after,
		&__thumbnail {
			-webkit-transition:
				opacity var(--trans-long) ease-in-out;
			transition:
				opacity var(--trans-long) ease-in-out
		}

		&__title,
		&__description {
			-webkit-transition:
				-webkit-transform var(--trans-normal) ease-in-out;
			transition:
				-webkit-transform var(--trans-normal) ease-in-out;
			transition:
				transform var(--trans-normal) ease-in-out;
			transition:
				transform var(--trans-normal) ease-in-out, -webkit-transform var(--trans-normal) ease-in-out
		}

		&__thumbnail {

			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}

		&__title,
		&__description {

			z-index: 2;
			position: absolute;
			left: 1em;
			right: 1em;
		}

		&__title {
			top: 0;
			-webkit-transform: translateY(-200%);
			transform: translateY(-200%)
		}

		&__description {

			bottom: 0;
			font-weight: 600;
			opacity: 1;
			-webkit-transform: translateY(200%);
			transform: translateY(200%);

			a {
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}
}

.lightbox {

	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: .5em;
	color: var(--color-white);
	background-color: rgba(black, .85);
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	opacity: 0;
	-webkit-transition:
		opacity var(--trans-normal) ease-in-out,
		-webkit-transform 0ms linear var(--trans-normal);
	transition:
		opacity var(--trans-normal) ease-in-out,
		-webkit-transform 0ms linear var(--trans-normal);
	transition:
		opacity var(--trans-normal) ease-in-out,
		transform 0ms linear var(--trans-normal);
	transition:
		opacity var(--trans-normal) ease-in-out,
		transform 0ms linear var(--trans-normal),
		-webkit-transform 0ms linear var(--trans-normal);

	&__content {
		position: relative;
		max-width: var(--single-col-width);
	}

	&__image {
		max-height: 93vh;
		-webkit-box-shadow: var(--box-shadow-intense);
		box-shadow: var(--box-shadow-intense);
	}

	&__text {

		display: none;
		width: 22vw;
		position: absolute;
		left: 2em;
		top: 5em;
	}

	&__close {

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: absolute;
		padding: 0;
		top: 0;
		left: 50%;
		width: 27px;
		height: 27px;
		background-color: var(--color-light);
		-webkit-box-shadow: var(--box-shadow-intense);
		box-shadow: var(--box-shadow-intense);
		border-radius: 50%;
		border: none;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-weight: 900;
		cursor: pointer;

		rect {

			fill: var(--color-darker);
			-webkit-transition: fill var(--trans-short) ease-in-out;
			transition: fill var(--trans-short) ease-in-out;

			&:first-of-type {
				-webkit-transform:
					translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
				transform:
					translate(50%, 50%) rotate(45deg) translate(-50%, -50%);
			}

			&:last-of-type {
				-webkit-transform:
					translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
				transform:
					translate(50%, 50%) rotate(-45deg) translate(-50%, -50%);
			}
		}
	}
}

.art-links {

	max-width: var(--single-col-width);

	&__group {

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 3em 0;
	}

	&__link {

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		height: 4em;
		width: 4em;
		padding: .5em;
		background-color: var(--color-dark-gray);
		-webkit-box-shadow: var(--box-shadow-medium);
		box-shadow: var(--box-shadow-medium);
		border-radius: 50%;

		&.designs {
			background-color: var(--color-99designs)
		}

		&.deviantart {
			background-color: var(--color-deviantart)
		}

		img {
			max-height: 2em
		}

		&+& {
			margin-left: 1.5em
		}
	}
}

.music {

	max-width: var(--single-col-width);
	text-align: center;

	&__group {

		display: grid;
		grid-template-columns: 1fr;
		gap: 2em;
		padding: 2em 0;
	}

	&__track {

		&__title {

			text-transform: uppercase;
			font-weight: 900;
			font-size: .9rem;

			&::before,
			&::after {
				content: ' ::: '
			}
		}

		&__audio {
			border-radius: var(--border-radius);
			-webkit-box-shadow: var(--box-shadow-medium);
			box-shadow: var(--box-shadow-medium);
		}
	}
}